*{
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
}

.container{
    width: 1200px;
    margin: 100px auto;
    background: #f0f2f7;
    border-radius: 30px;
}

.leftTable{
    float: left;
    width: 20%;
    height:500px;
    /* background: beige; */
    position: relative;
}

.rightTable{
    float: left;
    width:79%;
    height:500px;
    /* background: bisque; */
    border-left: 1px solid black;
}

.container::after{
    content: '';
    display: block;
    clear: both;
}

.logo{
    padding: 30px 0 0 20px;
    font-weight: 900;
    font-size: 20px;
    color: #213a5a;
}

.user{
    height: 50px;
    padding-left: 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.avatar{
    padding-right: 20px;
    width: 20%;
    float: left;
}

.name{
    /* text-align: center; */
    font-weight: 600;
    width: 80%;
}

.nav{
    margin-top: 100px;
    margin-left: 20px;
}

.nav li{
    list-style-type: none;
    margin-bottom: 10px;
}

.ad{
    width: 80%;
    height:100px;
    background-color: cadetblue;
    margin: 0 auto;
    border-radius: 30px;
    position: absolute;;
    bottom: 20px;
    left: 20px;
}


.balance{
    width: 90%;
    background: #fff;
    height: 200px;
    margin: 30px auto;
    border-radius: 40px;
}


