*{
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
}

.main{
    width: 1200px;
    margin: 100px auto;
    background: #f0f2f7;
    border-radius: 30px;
}

.main__leftTable{
    float: left;
    width: 13%;
    height:500px;
    /* background: beige; */
    position: relative;
}

.main__rightTable{
    float: left;
    width:84%;
    height:500px;
    /* background: bisque; */
}

.main::after{
    content: '';
    display: block;
    clear: both;
}

.user{
    height: 50px;
    width: 180px;
    /* padding-left: 20px; */
    margin-top: 35px;
    display: flex;
    align-items: center;
}

.user__avatar{
    padding-right:10px;
    width: 48px;
    float: left;
}

.user__name{
    /* text-align: center; */
    font-weight: 600;
    width: 80%;
}

.nav{
    background-color: #fff;
    width: 80px;
    height:430px;
    margin:35px auto;
    border-radius: 15px;
    overflow: auto;
    position: relative;
}

.nav__logo{
    margin: 20px auto;
    text-align: center;
}

.logo{
    font-weight: 900;
    font-size: 15px;
    color: #213a5a;
}

.nav__menu{
    text-align: center;
    margin-top: 70px;
}

.items li{
    margin-bottom: 20px;
}

.exit{
    position: absolute;
    bottom: 20px;
    left: 25px;
}

.account-board{
    width: 100%;
    /* background: #fff; */
    height: 200px;
    margin: 10px auto;
    border-radius: 40px;
}

.account-board__total{
    width: 20%;
    height: 100%;
    float: left;
}

.account-board__cards{
    width: 80%;
    /* background-color: aqua; */
    height: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
}

.balance{
    margin-top: 40px;
    margin-left: 20px;
}

.balance p{
    font-size: 10px;
    font-weight: 600;
    color: grey;
    text-transform: uppercase;
}

.money{
    /* text-align: center; */
    font-size: 30px;
    font-weight: 700;
}

.transactions{
    background-color: #fff;
    width: 30%;
    height: 155px;
    border-radius: 15px;
    padding-top: 15px;
    overflow-y: scroll;
}

.transactions-item{
    margin: 0 auto;
    background-color:burlywood;
    width: 90%;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 5px;
    list-style-type: none;
    overflow: hidden;
}

.transactions-item__logo{
    float: left;
    margin-top: 5px;
    margin-right:10px;
    margin-left: 5px;
}

.transactions-item__title{
    margin-top: 10px;
    float: left;
    width: 65%;
}


.transactions-item__price{
    margin-top: 10px;
    /* margin-left: 95px; */
    float: left;
    font-weight: 500;
}




