*
  margin:0
  padding:0
  box-sizing: border-box
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif
  &:focus
      outline: rgba(45,34, 243,0.5 )
      outline-width: 1px
      outline-style: auto

.minus
  color: rgb(167, 3, 3)

.plus
  color: rgb(0, 182, 45)

.main
 width: 1200px
 margin: 175px auto
 background: #f0f2f7
 border-radius: 30px
 height: 535px
 display: flex

 &__leftTable
  width: 13%
  position: relative
  overflow: hidden

 &__rightTable
  width: 84%
  height: 500px
  overflow: hidden

.nav
  background-color: #fff
  width: 80px
  height: 465px
  margin: 35px auto
  border-radius: 15px
  position: relative
  overflow: hidden

  &__logo
    margin: 20px auto
    text-align: center
    font-weight: 900
    color: #213a5a

  &__menu
    text-align: center
    height: 333px
    display: flex
    align-items: center
    justify-content: center
      
.menu
    
  &__item
    margin-bottom: 20px

    &:hover
      cursor: pointer

  &__settings
    position: absolute
    bottom: 20px
    left: 25px  

.dashboard
  display: grid
  margin: 35px 0 0 0
  grid-template-rows: 60px 132px 256px
  grid-template-columns: 34% 64%
  grid-gap: 10px
  width: 1000px
  height: 500px
  justify-content: space-between
  grid-template-areas: "header header" "balance cards" "transactions analitics"

  &__balance
    height: 100%
    padding: 30px 10px
    grid-area: balance

    &__button
      width: 50%
      height: 30px
      padding-top: 10px
      float: left

    &:hover
      cursor: pointer

    &::after
      content: ""
      width: 100%
      clear: both

  &__cards
    height: 100%
    display: flex
    justify-content: space-between
    align-items: center
    grid-area: cards

.board-title
  height:50px
  width:180px
  display: flex
  align-items: center
  grid-area: header

  &__avatar
    padding-right: 10px
    width: 48px
    float: left

  &__name
    font-weight: 600
    width: 80%

.credit-card
  width: 150px
  height: 100px
  border-radius: 10px
  transform-origin: center
  transition: 0.5s
  
  &:hover
    transform: scale(1.1)
    box-shadow: 0px 0px 10px rgba(39, 39, 39, 0.3)
    transition: 0.5s

  &__pay-system
    float: left
    margin-left: 10px
    margin-top: 6px

  &__name
    line-height: 43px
    margin-left: 20px
    float: left
    font-weight: 700
    font-style: 15px

  &__number
    margin: 60px auto
    font-weight: 300
    text-align: center
    font-style: 15px

  &_rocketbank
    background-color: rgb(252, 100, 27)

  &_alfabank
    background-color: rgb(221, 30, 38)

  &_tinkoff
    background-color: rgb(255, 223, 0)

  &_vtb
    background-color: rgb(1,74,142)
    color: #fff

.balance
  width: 50%
  float: left

  &__header
    font-size: 10px
    font-weight: 600
    color: grey
    text-transform: uppercase

  &__money
    font-size: 30px
    font-weight: 700

.transactions
  grid-area: transactions

  &__header
    color: grey
    text-transform: uppercase
    font-size: 10px
    font-weight: 600
    padding-left: 15px

  &__list
    background-color: #fff
    height: 240px
    border-radius: 15px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    padding: 5px 10px

.transactions-item
  width: 100%
  padding: 5px
  display: flex
  align-items: center

  &__logo
    margin: 0px 10px 0px 0px
    width: 30px

  &__title
    overflow: hidden
    width: 60%

  &__price
    font-weight: 500
    width: 30%
    text-align: end

.item
  &__name
    font-size: 12px
    font-weight: 700

  &__date
    font-size: 10px
    font-weight: 500
    color: rgb(165, 164, 164)

.analitics
  grid-area: analitics

  &__header
    color: grey
    text-transform: uppercase
    font-size: 10px
    font-weight: 600
    padding-left: 15px

  &__body
    background-color: #fff
    height: 235px
    border-radius: 15px
    padding-top: 5px

.trans-board
  width: 100%
  height: 462px
  margin: 35px auto
  
  &__body
    height: 414px
    padding: 15px
    background-color: #fff
    border-radius: 15px
    overflow-y: scroll
    display: flex
    flex-direction: column
    align-items: center

.modal
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  background: rgba(0, 0, 0, 0.5)

.form
  width: 500px
  background-color: #fff
  border-radius: 15px
  margin: 270px auto

  &__header
    border-bottom: 1px solid #eee

  &__fields
    padding: 10px

.modal-header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px
  font-weight: 600

  &__close
    cursor: pointer

.fields

  &__label
    color: gray
    text-transform: uppercase
    font-size: 10px
    font-weight: 600

  input
    margin-bottom: 10px
    border: 1px solid #ababab
    border-radius: 5px
    height: 25px
    width: 100%
    padding-left: 2px

  &__add
    width:100%
    height: 25px
    background-color: #00cf11
    border: 1px solid #00cc00
    border-radius: 5px
    cursor: pointer
    font-weight: 500
    color: #fff
    font-size: 15px
      
.hidden
  display: none